*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: 40px;
}
.container input{
    width: 30%;
    padding: 7px;
    margin-top: 10px;
    border: 2px solid black;
}
.btn{
    padding: 9px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.green{
    background-color: rgb(23, 143, 23);
}
.errmsg{
    margin-top: 10px;
    font-size: 23px;
    font-weight: 600;
    color: red;
}
.task{
    margin-top: 20px;
    height: 30%;
    width: 30%;
    background-color: black;
    color: white;
    position: relative;
    left: 35%;
    padding: 5px;
}
.task h2{
    padding-top: 5px;
}
.red{
    background-color: red;
}
.delBtn{
    position: relative;
    left: 40%;
    bottom: 20%;
}